<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Main_Test_Suite">
	<listeners>
		<listener class-name ="com.bookerapi.listeners.Listeners_Extent_Reporter"/>
	</listeners>
  <test thread-count="5" name="RestAssuredTests">
    <classes>
      <class name="com.bookerapi.testcases.TC001_Get_All_Booking_Ids"/>
      <class name="com.bookerapi.testcases.TC002_Get_Booking_By_Id"/>
      <class name="com.bookerapi.testcases.TC003_Post_CreateBooking"/>
      <class name="com.bookerapi.testcases.TC004_Update_Booking"/>
      <class name="com.bookerapi.testcases.TC005_Delete_Booking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->